/* 
FDEBD1 - waddle skin
F6B182 - cheek
EF7D1B - body light
E65900 - body dark
F9B62B - foot light
E47001 - foot dark
7A4203 - eyebrown


*/
* {
  margin: 0;
  padding: 0;
  }

  .font-main {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

.App {
  text-align: center;
}

.header{
  background-color: #EF7D1B;
  display:flex;
  height: 110px;
  align-items: stretch;
  align-content: stretch;
  /* padding-top:20px; */
  position: relative;
}

.site-title{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 28px;
  color: #7A4203;
  background-color: #FDEBD1;
  max-width: 300px;
  min-width: 300px;
  box-sizing: border-box;
  height: 70px;
  text-align: center;
  line-height: 70px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  margin:20px;
  /* padding: 12px; */
}

.title-link{
  text-decoration: none;
}

.site-nav{
  /* max-width: 800px; */
  width: 100%;
  background-color: #EF7D1B;
  display:flex;
  align-items: stretch;
  align-content: stretch;
  flex-direction: row;
  height:110px;
}

.nav-list{
  list-style-type: none;
  display:flex;
  background-color: pink;
  justify-items: stretch;
  align-content: stretch;
  
  /* height:100px; */
}

.nav-item{
  align-items: center;
  /* border-style: solid; */
  flex-grow:1;
  background-color: #EF7D1B;
  /* padding:20px;
  padding-top:30px; */
  /* justify-items: center;
  text-align: center; */
  
  
}

.sticky-nav {
  position: fixed;
  width: 100%;
}
.main-app{
  background-color: #FDEBD1;
  /* padding-top: 110px; */
}


.nav-link {
  height:fill;
  /* background-color: turquoise; */
  color:white;
  background-image:none;
  font-size: 18px;
  text-align: center;
  width: 128px;
  height: 110px;
  display:block;
  box-sizing: border-box;
  line-height: 110px;
}

.nav-link:hover{
  color:black;
  background-image: url('media/waddle_dee_looking_at_u.png');
  background-size: cover;
}

.nav-link.active{
  color:black;
  background-image: url('media/waddle_tilted.webp');
  background-size: cover;
}


/* .nav-item:hover {
  
} */

.main-header{
  text-align: center;
  padding:40px;
  font-size: 50px;
}

.waddle-bar{
  width: 100%;
  display:flex;
  flex-flow: row wrap;
}

.waddle-spinner{
  /* background-color: #EF7D1B; */
  width:110px;
  height: 110px;
  justify-self:flex-end;
}